data/evaluation/test_cases/**/*.png filter=lfs diff=lfs merge=lfs -text
data/evaluation/test_cases/**/*.jpg filter=lfs diff=lfs merge=lfs -text
data/db/evaluation_results.db filter=lfs diff=lfs merge=lfs -text
